<div class="navbar">
  <button>
    <%= link_to "About", about_path %>
  </button>
  <button>
    <%= link_to "Projects", projects_path %>
  </button>
  <button>
    <%= link_to "Contact", contact_path %>
  </button>
</div>

<div class="container intro-bio">
  <h1 class="text-3xl font-bold underline">I'm Guy</h1>
  <p>I'm a Full Stack Developer, and I've just completed the Web Development Bootcamp at Le Wagon</p>
  <p>This is my personal website, where you can find information on the projects I've been working on, contact information, and more personal information about me.</p>
</div>
