.navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 50px;
  padding: 0;
  /* center buttons */
  text-align: center;
  /* center vertically the buttons */
  line-height: 50px;
}
